* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
    background: #BFD7E4;
}
body::before {
    content: '';
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 465px;
    background: #293241;
}
.content {
    width: 750px;
    margin: auto;
}
header {
    text-align: center;
    margin-top: 107px;
}
header h1 {
    font-size: 36px;
    line-height: 45px;
    color: #FFFFFF;
}
header h1,
legend,
button {
    font-family: 'Staatliches'; 
    font-weight: 400;   
    text-align: center;
}
header p {
    font-size: 16px;
    line-height: 24px;
    height: 46px;
    color: #FFFFFF;
    margin-bottom: 2px;
}
form {
    margin: 158px 0 120px;
    background: #FFFFFF;
    padding: 32px 64px 64px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    border-radius: 0 0 20px 20px;
}
fieldset {
    border: none;
}
.fieldset-wrapper {
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.fieldset-wrapper .legend-top {
    position: absolute;
    top: 332px;
    left: calc(50vw - 384px);
    width: 750px;
    height: 133px;
    padding: 50px 0;
    margin-bottom: 0;
    background-color: #F67669;
    border-bottom: #d1695e solid 2px;
    border-radius: 20px 20px 0px 0px;
    color: #FFFFFF;
}
.fieldset-wrapper legend {
    font-size: 24px;
    line-height: 34px;
    color: #253B51;
    border-bottom: 1px solid #E6E6F0;
    padding-bottom: 8px;
    margin-bottom: 14px;
}
.col-2 {
    display: flex;
    gap: 22px;
}
.col-2 > .input-wrapper {
    width: 100%;
}
.input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.input-wrapper label {
    font-size: 14px;
    line-height: 24px;
    color: #4E4958;
    display: flex;
    gap: 9px;
    align-items: center;
}
.input-wrapper label span {
    font-size: 12px;
    line-height: 20px;
    color: #C1BCCC;
}
.input-wrapper label span:hover {
    color: #76737c;
}
.input-wrapper input,
.input-wrapper select,
.input-wrapper textarea {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #4E4958;
    background: #FAFAFC;
    border: 1px solid #E6E6F0;
    border-radius: 8px;
    height: 56px;
    padding: 10px 20px;
}
.input-wrapper select {
    appearance: none;
    -webkit-appearance: none;
    width: 50%;
}
.input-wrapper textarea {
    height: 166px;
}
.checkbox-wrapper {
    position: relative;
}
.checkbox-wrapper input {
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    opacity: 0;
}
.checkbox-wrapper label {
    font-size: 14px;
    line-height: 24px;
    color: #4E4958;
    display: flex;
    gap: 8px;
    align-items: center;
}
.checkbox-wrapper label::before {
    content: '';
    width: 24px;
    height: 24px;
    display: block;
    background: #FAFAFC;
    border: 1px solid #E6E6F0;
    border-radius: 8px;
}
.checkbox-wrapper input:checked + label::before {
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='14' viewBox='0 0 18 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 11.17L1.83 7L0.410004 8.41L6 14L18 2L16.59 0.589996L6 11.17Z' fill='%23f67669'/%3E%3C/svg%3E%0A");
    background-position: left 3.41px top 5.59px;
    background-repeat: no-repeat;
}
.checkbox-wrapper input:focus + label::before {
    outline: 2px solid black;
}
.col-3 {
    display: flex;
    flex-direction: row;
    gap: 32px;
}
.col-3 .input-wrapper {
    width: 100%;
}
.date-col {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.date-col .input-wrapper {
    width: 140px;
}
button {
    background: #F67669;
    height: 56px;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
    margin-top: 32px;
}
button:hover {
    background: #d1695e;
}
.input-wrapper input:invalid {
	border: 1px solid red;
}